.btn{
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.6rem;

    &-blue{
        color: #fff;
        background-color: $color-primary-blue-dark;
    }

    &:hover{
        opacity: 0.9;
    }
    &:active{
        transform: scale(0.99);
    }
}
